<html>
  <head>
    <title>Green Screen - Monitor Your Builds</title>
    <% if @auto_refresh_period %>
      <meta http-equiv="refresh" content="<%= @auto_refresh_period %>" />
    <% end %>
    <link rel='stylesheet' href='styles.css' type='text/css' media="screen">
    <% unless @jobs.empty? %>
    <style type="text/css">
      .build {
        height: <%= 100.0 / @jobs.size %>%;
      }
    </style>
    <% end %>
  </head>
  <body>
    <% @jobs.each do |job| %>
      <div class="build <%= job.last_run.status %> <%= job.activity %>">
        <div class="border">
          <div class="content">
            <h1><a href="<%= job.url %>"><%= job.name %></a></h1>
            <p>
              Build <strong><%= job.last_run.label %></strong>
              <%= job.last_run.time.strftime("@ %R on %a, %e %b") %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
