<html>
  <head>
    <title>Green Screen - Monitor Your Builds</title>
    <% if @auto_refresh_period %>
      <meta http-equiv="refresh" content="<%= @auto_refresh_period %>" />
    <% end %>
    <link rel='stylesheet' href='/styles.css' type='text/css' media="screen">
    <% unless @projects.empty? %>
    <style type="text/css">
      .build {
        height: <%= 100.0 / @projects.size %>%;
      }
    </style>
    <% end %>
  </head>
  <body>
    <% @projects.each do |project| %>
      <div class="build <%= project.last_build_status %> <%= project.activity %>">
        <div class="border">
          <div class="content">
            <h1><a href="<%= project.web_url%>"><%= project.name %></a></h1>
            <p>
              Build <strong><%= project.last_build_label %></strong>
              <%= project.last_build_time.strftime("@ %R on %a, %e %b") %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
